USE NashwilleHousing
/****** Object:  View [dbo].[vw_MissingFieldsCount]    Script Date: 23.6.2026. 21:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[vw_MissingFieldsCount] AS
SELECT
    [UniqueID ]
      ,[ParcelID]
      ,[LandUse]
      ,[SalePrice]
      ,[LegalReference]
      ,[SoldAsVacant]
      ,[OwnerName]
      ,[Acreage]
      ,[TaxDistrict]
      ,[LandValue]
      ,[BuildingValue]
      ,[TotalValue]
      ,[YearBuilt]
      ,[Bedrooms]
      ,[FullBath]
      ,[HalfBath]
      ,[SaleDateConverted]
      ,[PropertyAddressSplit]
      ,[PropertyCitySplit]
      ,[OwnerAddressSplit]
      ,[OwnerCitySplit]
      ,[OwnerStateSplit],
    (
    CASE WHEN [UniqueID ] IS NULL THEN 1 ELSE 0 END +
    CASE WHEN ParcelID IS NULL THEN 1 ELSE 0 END +
    CASE WHEN LandUse IS NULL THEN 1 ELSE 0 END +
    CASE WHEN SalePrice IS NULL THEN 1 ELSE 0 END +
    CASE WHEN LegalReference IS NULL THEN 1 ELSE 0 END +
    CASE WHEN SoldAsVacant IS NULL THEN 1 ELSE 0 END +
    CASE WHEN OwnerName IS NULL THEN 1 ELSE 0 END +
    CASE WHEN Acreage IS NULL THEN 1 ELSE 0 END +
    CASE WHEN TaxDistrict IS NULL THEN 1 ELSE 0 END +
    CASE WHEN LandValue IS NULL THEN 1 ELSE 0 END +
    CASE WHEN BuildingValue IS NULL THEN 1 ELSE 0 END + 
    CASE WHEN TotalValue IS NULL THEN 1 ELSE 0 END +
    CASE WHEN YearBuilt IS NULL THEN 1 ELSE 0 END +
    CASE WHEN SaleDateConverted IS NULL THEN 1 ELSE 0 END +
    CASE WHEN PropertyAddressSplit IS NULL THEN 1 ELSE 0 END +
    CASE WHEN PropertyCitySplit IS NULL THEN 1 ELSE 0 END +  -- Checked dataset in previous step for all the other missing value types of entries - only 0 for PropertyAddress identified     CASE WHEN PropertyCitySplit IS NULL THEN 1 ELSE 0 END +
    CASE WHEN OwnerAddressSplit IS NULL THEN 1 ELSE 0 END +
    CASE WHEN OwnerCitySplit IS NULL THEN 1 ELSE 0 END
    ) AS MissingFieldsCount
FROM [dbo].[NashvilleHousing];
GO
/****** Object:  View [dbo].[vw_RecordsDistribution]    Script Date: 23.6.2026. 21:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RecordsDistribution] AS 
SELECT
    MissingFieldsCount,
    COUNT(*) AS RecordCount
FROM vw_MissingFieldsCount
GROUP BY MissingFieldsCount;
GO
/****** Object:  View [dbo].[vw_CityDataQuality]    Script Date: 23.6.2026. 21:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_CityDataQuality] AS
SELECT
    PropertyCitySplit,

    COUNT(*) AS TotalRecords,

    SUM(CASE WHEN MissingFieldsCount > 0 THEN 1 ELSE 0 END) AS RecordsWithIssues,

    ROUND(
        100.0 * SUM(CASE WHEN MissingFieldsCount > 0 THEN 1 ELSE 0 END)
        / COUNT(*),
    2) AS MissingDataPct,

    ROUND(
        AVG(CAST(MissingFieldsCount AS FLOAT)),
    2) AS AvgMissingFields
FROM vw_MissingFieldsCount
GROUP BY PropertyCitySplit;
GO
/****** Object:  View [dbo].[vw_DataQualityKPIs]    Script Date: 23.6.2026. 21:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_DataQualityKPIs] AS
SELECT
     -- [3.1.a] KPI CARDS/ Total Number of Records
    COUNT(*) AS TotalNumberOfRecords,

    -- [3.1.b] KPI CARDS/ Dataset Completeness %
    ROUND(
        100.0 * SUM(CASE WHEN MissingFieldsCount = 0 THEN 1 ELSE 0 END)
        / COUNT(*),
    0) AS CompletePct,

    ROUND(
        100.0 * SUM(CASE WHEN MissingFieldsCount > 0 THEN 1 ELSE 0 END)
        / COUNT(*),
    0) AS MissingDataPct,

    -- [3.1.c] Number of records with missing data
    SUM(
        CASE WHEN MissingFieldsCount > 0 THEN 1 ELSE 0 END
    ) AS RecordsWithMissingData,

    -- [3.1.d] AVG number of missing fields per incomplete entry
    ROUND(
        AVG(
            CASE
                WHEN MissingFieldsCount > 0
                THEN CAST(MissingFieldsCount AS FLOAT)
            END
        ),
    0) AS AvgMissingFields

FROM vw_MissingFieldsCount;

GO
/****** Object:  View [dbo].[vw_CityDataQualityMapNew]    Script Date: 23.6.2026. 21:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_CityDataQualityMapNew] AS
WITH base AS (
    SELECT
        UPPER(LTRIM(RTRIM(REPLACE(PropertyCitySplit, CHAR(160), '')))) AS City,
        COUNT(*) AS TotalRecords,
        SUM(MissingFieldsCount) AS TotalMissingFields
    FROM vw_MissingFieldsCount
    GROUP BY UPPER(LTRIM(RTRIM(REPLACE(PropertyCitySplit, CHAR(160), ''))))
)
SELECT
    b.City AS PropertyCitySplit,
    m.Latitude,
    m.Longitude,
    b.TotalRecords,
    b.TotalMissingFields,
    CAST(
        100.0 * b.TotalMissingFields /
        (b.TotalRecords * 18)
        AS DECIMAL(5,2)
    ) AS MissingDataRatePercent
FROM base b
LEFT JOIN (
    SELECT
        UPPER(LTRIM(RTRIM(REPLACE(PropertyCitySplit, CHAR(160), '')))) AS City,
        Latitude,
        Longitude
    FROM LocationMapping
) m
ON b.City = m.City;
GO
/****** Object:  View [dbo].[vw_MissingDataByYear]    Script Date: 23.6.2026. 21:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_MissingDataByYear] AS
SELECT
    YEAR(SaleDateConverted) AS SaleYear,
    MONTH(SaleDateConverted) AS SaleMonth,
    DATENAME(MONTH, SaleDateConverted) AS MonthName,
    SUM(MissingFieldsCount) AS TotalMissingFields
FROM vw_MissingFieldsCount
GROUP BY YEAR(SaleDateConverted),
    MONTH(SaleDateConverted),
    DATENAME(MONTH, SaleDateConverted)
;
GO
/****** Object:  View [dbo].[vw_HousingMasterData]    Script Date: 23.6.2026. 21:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_HousingMasterData] AS
SELECT 
    h.*,

    -- Data Quality by Month
    YEAR(h.SaleDateConverted) AS SaleYear,
    MONTH(h.SaleDateConverted) AS SaleMonth,
    DATENAME(MONTH, h.SaleDateConverted) AS MonthName,
    FORMAT(h.SaleDateConverted, 'yyyy-MM') AS YearMonth,

    -- Data Quality by City
    UPPER(LTRIM(RTRIM(REPLACE(h.PropertyCitySplit, CHAR(160), '')))) AS City,

 -- Completeness % by Record Category - Missing Data Importance
    CASE 
        WHEN 
            SalePrice IS NULL
            OR TotalValue IS NULL
            OR Acreage IS NULL 
        THEN 'Critical'

        WHEN LandValue IS NULL
            OR [UniqueID ] IS NULL
            OR OwnerName IS NULL
            OR BuildingValue IS NULL 
            OR SaleDateConverted IS NULL
            OR TaxDistrict IS NULL
        THEN 'Important'

        WHEN LegalReference IS NULL
            OR SoldAsVacant IS NULL   
            OR LandUse IS NULL
            OR YearBuilt IS NULL 
        THEN 'Minor'
        ELSE 'Clean'
        END AS DataQualityFlag,

-- Data Quality by City
    m.Latitude,
    m.Longitude

FROM [dbo].[NashvilleHousing] h

LEFT JOIN LocationMapping m
  ON UPPER(LTRIM(RTRIM(REPLACE(h.PropertyCitySplit, CHAR(160), ''))))
   =
   UPPER(LTRIM(RTRIM(REPLACE(m.PropertyCitySplit, CHAR(160), ''))))
GO
/****** Object:  View [dbo].[vw_MissingDataByCategory]    Script Date: 23.6.2026. 21:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_MissingDataByCategory] AS
 
 WITH DataTemp AS(
 SELECT
    [UniqueID ],

    CASE 
        WHEN 
            SalePrice IS NULL
            OR TotalValue IS NULL
            OR Acreage IS NULL 
        THEN 'Critical Value Missing'

        WHEN LandValue IS NULL
            OR [UniqueID ] IS NULL
            OR OwnerName IS NULL
            OR BuildingValue IS NULL 
            OR SaleDateConverted IS NULL
            OR TaxDistrict IS NULL
        THEN 'Important Value Missing'

        WHEN LegalReference IS NULL
            OR SoldAsVacant IS NULL   
            OR LandUse IS NULL
            OR YearBuilt IS NULL 
        THEN 'Non-Critical Value Missing'
        ELSE 'CLEAN'
        END AS DataQualityFlag
FROM [dbo].[NashvilleHousing])

SELECT
    DataQualityFlag,
    COUNT(*) AS RecordCount,
    ROUND(
        100.0 * COUNT(*) / SUM(COUNT(*)) OVER (),
    0) AS Percentage
FROM DataTemp
GROUP BY DataQualityFlag
GO
