USE [Nashwile Housing Portfolio Project]
GO
/****** Object:  Table [dbo].[LocationMapping]    Script Date: 23.6.2026. 21:49:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationMapping](
	[PropertyCitySplit] [varchar](100) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NashvilleHousing]    Script Date: 23.6.2026. 21:49:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NashvilleHousing](
	[UniqueID ] [float] NULL,
	[ParcelID] [nvarchar](255) NULL,
	[LandUse] [nvarchar](255) NULL,
	[SalePrice] [float] NULL,
	[LegalReference] [nvarchar](255) NULL,
	[SoldAsVacant] [nvarchar](255) NULL,
	[OwnerName] [nvarchar](255) NULL,
	[Acreage] [float] NULL,
	[TaxDistrict] [nvarchar](255) NULL,
	[LandValue] [float] NULL,
	[BuildingValue] [float] NULL,
	[TotalValue] [float] NULL,
	[YearBuilt] [float] NULL,
	[Bedrooms] [float] NULL,
	[FullBath] [float] NULL,
	[HalfBath] [float] NULL,
	[SaleDateConverted] [date] NULL,
	[PropertyAddressSplit] [nvarchar](100) NULL,
	[PropertyCitySplit] [nvarchar](100) NULL,
	[OwnerAddressSplit] [nvarchar](100) NULL,
	[OwnerCitySplit] [nvarchar](100) NULL,
	[OwnerStateSplit] [nvarchar](100) NULL
) ON [PRIMARY]
GO
